{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/gre_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/infp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/enfp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-主人公{% endblock %}
{% block type %}ENFJ{% endblock %}
{% block figure %}<img src="/static/pics/enfj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>对人们怀着坚定信心</div>
<div><i class="fa fa-circle-o"></i>为正确之事发声</div>
<div><i class="fa fa-circle-o"></i>过于理想主义</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;主人公类型的人是天生的领导者，充满激情，魅力四射，浑身散发着天然的自信，潜移默化地影响着周围的人。

    &emsp;&emsp;他们善于理解他人的内心活动，用令人着迷的口才与人交流。真实、关怀和利他，会勇敢地挺身反抗并坚决支持他们相信的人和想法。容易落入过分纠结于他人困境的陷阱。</div>
{% endblock %}
{% block textc %}
当有人说我们办不到的时候，我们要以这个永恒的信条来回应他们：是的，我们能做到。
——贝拉克·奥巴马
{% endblock %}