{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/gre_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/enfj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/istj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-竞选者{% endblock %}
{% block type %}ENFP{% endblock %}
{% block figure %}<img src="/static/pics/enfp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>日常生活的魔力</div>
<div><i class="fa fa-circle-o"></i>一点点疯狂</div>
<div><i class="fa fa-circle-o"></i>杂乱无章</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;竞选者人格类型的人是真正富有自由精神的人。富有魅力，独立，有同情心，他们享受与人们建立的社会和情感联系。

    &emsp;&emsp;他们倾向把生活看成万物相连的错综复杂的谜题，透过情感，同情和神秘主义观察。工作时热情努力与舞池中新颖狂热完美转换。需要避免过于相信直觉，误读某些信号。</div>
{% endblock %}
{% block textc %}
我喜欢那些不完美的角色，我喜欢那些证明人类脆弱本质的男人女人。
——小罗伯特·唐尼
{% endblock %}