{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/pur_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/intp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/entp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-指挥官{% endblock %}
{% block type %}ENTJ{% endblock %}
{% block figure %}<img src="/static/pics/entj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>值得进行的挑战</div>
<div><i class="fa fa-circle-o"></i>为伟大而奋斗</div>
<div><i class="fa fa-circle-o"></i>情绪处理不当</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;指挥官人格类型的人天生具有魅力和信心，用强大的动力、坚定的决心和锋芒毕露的思想实现为自己制定的一切目标。

    &emsp;&emsp;他们高瞻远瞩，能够将精力长期集中在自己的目标上，矢志不移地执行计划，没有什么比迎接每个挑战更让他们满意。但他们必须牢记自己的成功离不开一个团队。
</div>
{% endblock %}
{% block textc %}
活着就是为了改变世界，难道还有其他原因吗？
——史蒂芬·乔布斯
{% endblock %}