{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/pur_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/entj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/infj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-辩论家{% endblock %}
{% block type %}ENTP{% endblock %}
{% block figure %}<img src="/static/pics/entp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>没有规则只有目标</div>
<div><i class="fa fa-circle-o"></i>优秀的头脑风暴者</div>
<div><i class="fa fa-circle-o"></i>非常有争议</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;辩论家人格类型的人是故意持相反意见的人，善于把观点和信条剪得支离破碎并撒在空中给所有人看，仅仅为了有趣。

    &emsp;&emsp;他们喜欢头脑风暴，野心勃勃，尽可能避免枯燥乏味的工作。说话不拐弯抹角，也没有兴趣成为别人眼里有同情心的人。挑战在于强调逻辑与发展的同时也懂得关心与妥协。</div>
{% endblock %}
{% block textc %}
我在征途之上，我在追逐一种理念、一个故事、一段狂想，或许是犯傻，我在追逐幽灵。
——马克·吐温
{% endblock %}