{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/blu_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/estj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/istp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-执政官{% endblock %}
{% block type %}ESFJ{% endblock %}
{% block figure %}<img src="/static/pics/esfj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>负责任的生活之美</div>
<div><i class="fa fa-circle-o"></i>持久的关系</div>
<div><i class="fa fa-circle-o"></i>过于重视社会认可</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;执政官人格类型的人享受去支持他们的朋友和爱着的人，尽一切努力让每个人开心，把他们的能力用在好的地方。

    &emsp;&emsp;他们是利他主义者，认真地承担起帮助别人和做正确事的责任。不喜欢冲突，用很多精力去建立社会秩序。最大挑战是面对反对和批评，如何与自己的细腻敏感达成妥协。
</div>
{% endblock %}
{% block textc %}
善待他人是我们能留下的一种美好的遗产。
——泰勒·斯威夫特
{% endblock %}