{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/yel_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/estp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/intj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-表演者{% endblock %}
{% block type %}ESFP{% endblock %}
{% block figure %}<img src="/static/pics/esfp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>充满激情地生活</div>
<div><i class="fa fa-circle-o"></i>美学和表演技巧</div>
<div><i class="fa fa-circle-o"></i>厌恶冲突</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;表演者人格类型的人会沉醉于当前的兴奋状态，而且希望人人如此。他们毫不吝惜自己的时间和精力来激励他人。

    &emsp;&emsp;他们是天生的表演者，热爱聚光灯，世界就是他们的舞台。观察力敏锐，能敏感地捕捉到他人的情绪。最大挑战在于常过度沉溺于一时痛快，以至于忽视自己的义务和责任。</div>
{% endblock %}
{% block textc %}
不管你看起来如何，首先最重要的就是让自己快乐。
——阿黛尔
{% endblock %}