{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/blu_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/isfj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/esfj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-总经理{% endblock %}
{% block type %}ESTJ{% endblock %}
{% block figure %}<img src="/static/pics/estj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>有尊严的人为正义而战</div>
<div><i class="fa fa-circle-o"></i>享受创造秩序的乐趣</div>
<div><i class="fa fa-circle-o"></i>难以放松</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;总经理人格类型的人是传统和秩序的代表，利用他们对正确，错误，和社会标准的理解来团结家庭和社区。

    &emsp;&emsp;他们的领导方式是以身作则，尽心尽力，诚实果断，坚决反对懒惰和作弊，希望自己的可靠性和职业道德能够有所回报。但需要意识到并非所有人都以同样方式贡献力量。</div>
{% endblock %}
{% block textc %}
往上爬的的时候要对别人好一点，因为你走下坡的时候会碰到他们。
——约翰·洛克菲勒
{% endblock %}