{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/yel_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/isfp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/esfp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-企业家{% endblock %}
{% block type %}ESTP{% endblock %}
{% block figure %}<img src="/static/pics/estp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>立即投入少走弯路</div>
<div><i class="fa fa-circle-o"></i>突破界限</div>
<div><i class="fa fa-circle-o"></i>非结构化</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;企业家人格类型的人充满活力，也不乏智慧。他们会在前进的过程中改正错误，而不是闲坐着思考备用计划和撤退方案。

    &emsp;&emsp;他们活在当下，说做就做，是风暴的中心。在快速理性的刺激反应中根据眼前的实际情况作出重要决策。真正难题是如何把这些品质用在有建设性且回报丰厚的目标上。
</div>
{% endblock %}
{% block textc %}
给我一双高跟鞋,我能征服全世界。
——麦当娜
{% endblock %}