{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/gre_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/entp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/infp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-提倡者{% endblock %}
{% block type %}INFJ{% endblock %}
{% block figure %}<img src="/static/pics/infj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>个人使命与寻求目的</div>
<div><i class="fa fa-circle-o"></i>互帮互助</div>
<div><i class="fa fa-circle-o"></i>完美主义</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;提倡者人格类型的人具有与生俱来的理想主义和道德感，但他们不是空想家，而脚踏实地完成目标，留下深远的积极影响。

    &emsp;&emsp;他们轻言细语却很有看法，坚决果断但不把精力用在一己私利。真正理想是从根本上解决问题。话语温暖有人情味，而非纯粹的逻辑与事实。注意不要让对信念的热情失控。</div>
{% endblock %}
{% block textc %}
我们做不了伟大的事情，但可以用伟大的爱去做小事情。
——特蕾莎修女
{% endblock %}