{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/gre_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/infj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/enfj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-调停者{% endblock %}
{% block type %}INFP{% endblock %}
{% block figure %}<img src="/static/pics/infp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>说出自己的真相</div>
<div><i class="fa fa-circle-o"></i>移情的天赋</div>
<div><i class="fa fa-circle-o"></i>自我隔离与批评</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;调停者型人格的人往往是安静、思想开放和富有想象力的，他们对所做的每一件事都采用关怀和创造性的方法。

    &emsp;&emsp;他们可能看起来安静或谦逊，其实一路梦想着各种各样的故事、想法和可能性。感到被召唤帮助他人，对人性的深处有着真诚的好奇心。但要注意内化他人消极情绪的界限。</div>
{% endblock %}
{% block textc %}
充实的思想不在于言语的富丽，它引以自傲的是内容，不是虚饰。
——威廉·莎士比亚
{% endblock %}