{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/pur_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/esfp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/intp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-建筑师{% endblock %}
{% block type %}INTJ{% endblock %}
{% block figure %}<img src="/static/pics/intj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>正确态度可达任何目标</div>
<div><i class="fa fa-circle-o"></i>社交挫折与浪漫无知</div>
<div><i class="fa fa-circle-o"></i>对知识的渴望</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;建筑师人格类型的人想象力丰富却很果断，雄心壮志但注重隐私，充满好奇心但从不浪费精力。

    &emsp;&emsp;他们是理想主义者，又是愤世嫉俗者。深刻的观察，原创的想法，强大的逻辑使他们能用纯粹的意志力和人格力量来促成变革。问题是忽视情感会影响他们的判断。</div>
{% endblock %}
{% block textc %}
我认为我们有责任保持意识之光，以确保它持续到未来。
——埃隆·马斯克
{% endblock %}