{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/pur_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/intj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/entj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-逻辑学家{% endblock %}
{% block type %}INTP{% endblock %}
{% block figure %}<img src="/static/pics/intp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>心灵生活与宇宙奥秘</div>
<div><i class="fa fa-circle-o"></i>智慧始于怀疑</div>
<div><i class="fa fa-circle-o"></i>不满意不耐烦</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;逻辑学家人格类型的人展现出积极主动的创造性，异于常人的视角以及永不枯竭的智慧，这都令他们深感自豪。

    &emsp;&emsp;他们常在自己的脑海里进行激烈的辩论，看上去像在沉思或神游。习惯且善于发现话语之间的纰漏，却喜欢在跟自己的辩论中分享未成熟的想法。最大挑战是对失败的恐惧。</div>
{% endblock %}
{% block textc %}
我没有特殊天赋，我只是极为好奇。
——阿尔伯特·爱因斯坦
{% endblock %}