{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/blu_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/istj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/estj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-守卫者{% endblock %}
{% block type %}ISFJ{% endblock %}
{% block figure %}<img src="/static/pics/isfj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>为他人和自己露面</div>
<div><i class="fa fa-circle-o"></i>忠诚和勤奋</div>
<div><i class="fa fa-circle-o"></i>过于利他主义</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;守卫者型人格的人是真正的利他主义者，他们以加倍的善意回报善意，以热情慷慨的态度对待他们相信的人与事。

    &emsp;&emsp;他们有很强的社会性，他们的朋友和熟人感到被看到、被了解和被珍惜。有时候一丝不苟到了完美主义的地步，竭尽所能地超出他人的期望。但应注意不要超负荷自己。</div>
{% endblock %}
{% block textc %}
你的自我价值取决于你自己，你不需要别人来定义你是谁。
——碧昂斯
{% endblock %}