{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/yel_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/istp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/estp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-探险家{% endblock %}
{% block type %}ISFP{% endblock %}
{% block figure %}<img src="/static/pics/isfp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>意义在于生命每个角落</div>
<div><i class="fa fa-circle-o"></i>敞开心胸的美</div>
<div><i class="fa fa-circle-o"></i>不可预测</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;探险家人格类型的人是真正的艺术家，他们喜欢用美感和行为方面的实验来颠覆传统的期望。

    &emsp;&emsp;他们活在一个多彩感性的世界。他们乐于重新解读与人们和想法的联系，实验和发明。在幕后独自养精蓄锐，也喜欢找各种方式释放自己的激情。最大挑战是计划未来。</div>
{% endblock %}
{% block textc %}
让我们梦想着一个明天，那里有从心底升腾起的爱，我们终将明白一个真理，爱像一颗充满创造力的心。
——迈克尔·杰克逊
{% endblock %}