{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/blu_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/enfp"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/isfj"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-物流师{% endblock %}
{% block type %}ISTJ{% endblock %}
{% block figure %}<img src="/static/pics/istj.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>或许不如独自一人</div>
<div><i class="fa fa-circle-o"></i>正直的生活</div>
<div><i class="fa fa-circle-o"></i>收拾烂摊子</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;物流师人格类型的人正直，务实，恪尽职守，愿意为自己的行为负责，为努力完成目标所做的一切感到骄傲。

    &emsp;&emsp;他们思维敏捷，说做就做，宁愿自给自足也不愿意依赖别人。不惜代价遵守已经建立的准则，敢于实话实说，而很难对外表达自己的情绪和好感。但应记得照顾自己。</div>
{% endblock %}
{% block textc %}
努力让你心中那朵被称为良心的火花永不熄灭。
——乔治·华盛顿
{% endblock %}