{% extends 'eachcard/sub_parent.html' %}

{% block css %}
    <link href="/static/css/yel_parent.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}<a href="/mbti/profile/esfj"><i class="fa fa-angle-left"></i></a>{% endblock %}
{% block right %}<a href="/mbti/profile/isfp"><i class="fa fa-angle-right"></i></a>{% endblock %}

{% block chi %}-鉴赏家{% endblock %}
{% block type %}ISTP{% endblock %}
{% block figure %}<img src="/static/pics/istp.png">{% endblock %}

{% block texta %}
<div><i class="fa fa-circle-o"></i>创造性和实用性</div>
<div><i class="fa fa-circle-o"></i>敢于与众不同</div>
<div><i class="fa fa-circle-o"></i>冒险行为</div>
{% endblock %}
{% block textb %}
<div>&emsp;&emsp;鉴赏家人格类型的人喜欢用双手和眼睛去探索事物，他们通过冷静的理性主义和精神饱满的好奇心来感知和体验这个世界。

    &emsp;&emsp;他们友好又缄默，行事冷静但会突然不由自主，好奇心旺盛但不能持续专注于正式研究。心中有很强的公平感，并以此来对待别人。但他们很难揣测他人的情感。</div>
{% endblock %}
{% block textc %}
我的身体可以忍受靠著拐杖行走，但我的內心无法忍受不能上场比賽。
——迈克尔·乔丹
{% endblock %}