{% extends 'parent.html' %}

{% block title %}<title>{{ type }}</title>{% endblock %}

{% block content %}
<div class="container2">

    <div class="switcha">{% block left %}{% endblock %}</div>
    <div class="switchb">{% block right %}{% endblock %}</div>

    <div class="banner">
        <strong class="banner-b">{% block chi %}{% endblock %}</strong>
        <strong class="banner-a">{% block type %}{% endblock %}</strong>
    </div>
    <div class="desc list">
        {% block figure %}{% endblock %}
        {% block texta %}{% endblock %}
    </div>
    <div class="desc">
        {% block textb %}{% endblock %}
    </div>
    <div class="motto">
        {% block textc %}{% endblock %}
    </div>
</div>
{% endblock %}