{% extends 'parent.html' %}

{% block title %}<title>MBTI大赏-梗图</title>{% endblock %}

{% block css %}
    <link href="/static/css/memes.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container4">
    <div class="sub-container4">
        <img src="/static/pics/intj.jpg">
        <img src="/static/pics/intp.jpg">
        <img src="/static/pics/entp.jpg">
        <img src="/static/pics/entj.jpg">
        <br>
        <div>*素材源见水印。仅娱乐，无意冒犯任何人。技术力低下，仅手动扒了16张（汗）</div>
    </div>
    <div class="sub-container4">
        <img src="/static/pics/enfp.jpg">
        <img src="/static/pics/enfj.jpg">
        <img src="/static/pics/infj.jpg">
        <img src="/static/pics/infp.jpg">
    </div>
    <div class="sub-container4">
        <img src="/static/pics/istp.jpg">
        <img src="/static/pics/isfp.jpg">
        <img src="/static/pics/estp.jpg">
        <img src="/static/pics/esfp.jpg">
    </div>
    <div class="sub-container4">
        <img src="/static/pics/isfj.jpg">
        <img src="/static/pics/istj.jpg">
        <img src="/static/pics/esfj.jpg">
        <img src="/static/pics/estj.jpg">
    </div>
</div>

{% endblock %}