<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    {% block css %}{% endblock %}
    <link href="/static/css/framework.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div class="nav">
    <a href="/mbti/top" class="link"><h1 class="nav-logo">M B T I 大 赏</h1></a>
</div>
<div class="col-container0">
    <div class="col-container00">
        <div class="roll1">
            <img src="/static/pics/intp-enst.png">
            <img src="/static/pics/entj-jobs.png">
            <img src="/static/pics/entp-mktw.png">
            <img src="/static/pics/intj-musk.png">
            <img src="/static/pics/intp-enst.png">
            <img src="/static/pics/entj-jobs.png">
            <img src="/static/pics/entp-mktw.png">
            <img src="/static/pics/intj-musk.png">
            <img src="/static/pics/intp-enst.png">
            <img src="/static/pics/entj-jobs.png">
            <img src="/static/pics/entp-mktw.png">
            <img src="/static/pics/intj-musk.png">
        </div>
        <div class="roll2">
            <img src="/static/pics/infp-sspr.png">
            <img src="/static/pics/infj--trs.png">
            <img src="/static/pics/enfj-obm.png">
            <img src="/static/pics/enfp-dn.png">
            <img src="/static/pics/infp-sspr.png">
            <img src="/static/pics/infj--trs.png">
            <img src="/static/pics/enfj-obm.png">
            <img src="/static/pics/enfp-dn.png">
            <img src="/static/pics/infp-sspr.png">
            <img src="/static/pics/infj--trs.png">
            <img src="/static/pics/enfj-obm.png">
            <img src="/static/pics/enfp-dn.png">
        </div>
    </div>
    <div class="col-center">
        {% block content %}{% endblock %}
    </div>
    <div class="col-container00">
        <div class="roll1">
            <img src="/static/pics/isfj-bys.png">
            <img src="/static/pics/estj-rcfl.png">
            <img src="/static/pics/istj-wst.png">
            <img src="/static/pics/esfj-tlsw.png">
            <img src="/static/pics/isfj-bys.png">
            <img src="/static/pics/estj-rcfl.png">
            <img src="/static/pics/istj-wst.png">
            <img src="/static/pics/esfj-tlsw.png">
            <img src="/static/pics/isfj-bys.png">
            <img src="/static/pics/estj-rcfl.png">
            <img src="/static/pics/istj-wst.png">
            <img src="/static/pics/esfj-tlsw.png">
        </div>
        <div class="roll2">
            <img src="/static/pics/esfp-adl.png">
            <img src="/static/pics/isfp-mcjs.png">
            <img src="/static/pics/estp-mdn.png">
            <img src="/static/pics/istp-jd.png">
            <img src="/static/pics/esfp-adl.png">
            <img src="/static/pics/isfp-mcjs.png">
            <img src="/static/pics/estp-mdn.png">
            <img src="/static/pics/istp-jd.png">
            <img src="/static/pics/esfp-adl.png">
            <img src="/static/pics/isfp-mcjs.png">
            <img src="/static/pics/estp-mdn.png">
            <img src="/static/pics/istp-jd.png">
        </div>
    </div>
</div>

</body>
</html>